<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/new_chitter.css" type="text/css">
    <title>Document</title>
</head> 
    <body>  
        <header>
            <h2 class="header_item">Great new chitter</h2> 
        </header> 
        <section class="main"> 

            <div class="main_item">
                <p id="error"><%= error %></p>
            </div> 

            <div class="main_item">
                <form action="/newchitter" method="POST"> 
                    <input type="text" name="peep"> 
                    <input type="submit" value="submit" id="creat_new_peep">
                </form>   
            </div> 

        </section>  

    </body>
</html>