<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <title>Chitter Page</title>
</head>
    <body>  
        <header>
            <h1 class="header_item">Chitter in Javascript</h1>
        </header> 

        <section class="nav">
            <a href="/newPeep" id="new">New Peep</a>
        </section>

    <section class="main_body">
        <% result.reverse().forEach(item => { %> 
            <div class="main_body_item">
                <p><%= item.message %></p> 
                <p><%= item.message_time.toString().split(' ').slice(2, 5).join('-') %></p>  
                <% if (Number(item.chitter_id) === profile_id ) { %>
                    <form action='/deleteChitter/<%= item.message_id %>' method="GET" id="delete"> 
                        <input type="submit" value="Delete" id="delete" >
                    </form>  
                <% } else { %>  
                    <%  %>
                <% } %>
            </div>
        <% }) %>
    </section> 
    
    </body>
</html>