body {
    margin: 0;
    padding: 0;
}  

/* header of the index page */

header {
    width: 100%; 
    height: 80px; 
    background: whitesmoke; 
    border-bottom: 4px solid teal; 
    display: flex; 
    justify-content: center;
    align-items: center;
}  

.header_item {
    font-family: 'Lato', sans-serif;
    font-size: 30px; 
    color: teal;
}  

/* nav bar  */

.nav {
    width: 100%; 
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
}   

.nav a {
    text-decoration: none;
}

#new {
    padding: 10px 15px;
    background: whitesmoke; 
    border-radius: 25px; 
    font-family: 'Lato', sans-serif;
    color: hotpink; 
    margin: 0 10px;
} 

#new:hover {
    background: hotpink; 
    color: white;
} 

.main_body_error{
    height: 40px; 
    font-family: 'Lato', sans-serif;   
    color: hotpink; 
    background: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 25px;
}
 

.main_body_error p {
    padding: 0;
    margin: 0;
}

/* main body  */

.main_body{
    width: 100%; 
    height: 400px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 0;
    padding: 0 0; 
}   



.main_body_item{   
    color: white;
    background: teal;  
    border-radius: 25px;
    padding: 20px 20px;
    margin: 25px 0px; 
    font-family: 'Lato', sans-serif;   
    width: 270px;
}  

.main_body_item_form{
    padding: 10px 0px;
}

#sub{
    font-family: 'Lato', sans-serif; 
    width: 90px; 
    height: 40px; 
    background: whitesmoke; 
    border-radius: 25px;
    color: grey; 
    border: none;   
    padding: 0;
    margin: 0px 0px;
} 

#sub:hover{
    background: hotpink; 
    color: white;
}