body {
    margin: 0;
    padding: 0;
}  

/* header of the index page */

header {
    width: 100%; 
    height: 80px; 
    background: whitesmoke; 
    border-bottom: 4px solid teal; 
    display: flex; 
    justify-content: center;
    align-items: center;
}  

.header_item {
    font-family: 'Lato', sans-serif;
    font-size: 30px; 
    color: teal;
}  

/* nav bar  */ 

.nav {
    width: 100%; 
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
}   

.nav a {
    text-decoration: none;
}

#new {
    padding: 10px 15px;
    background: whitesmoke; 
    border-radius: 25px; 
    font-family: 'Lato', sans-serif;
    color: hotpink; 
    margin: 0 10px;
} 

#new:hover {
    background: hotpink; 
    color: white;
} 

.main_body_error{
    height: 40px; 
    font-family: 'Lato', sans-serif;   
    color: hotpink;
}

/* main sign up page  */

.error{
    height: 30px; 
    font-family: 'Lato', sans-serif;  
    color: hotpink; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 10px 10px; 
    margin-bottom: 20px;
} 

.error p {
    margin: 0;
    padding: 0;
}

.sign_up {
    width: 100%;  
    height: 450px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
} 

.sign_up_item{
   font-family: 'Lato', sans-serif;  
   width: 350px;  
   background: teal; 
   padding: 15px 20px; 
   border-radius: 25px; 
   color: white;
}  

.sign_up_item_style{
    padding: 10px 0px; 
}

#sign{
    font-family: 'Lato', sans-serif; 
    width: 90px; 
    height: 40px; 
    background: whitesmoke; 
    border-radius: 25px;
    color: grey; 
    border: none;   
    padding: 0;
    margin: 0px 0px;
} 

#sign:hover{
    background: hotpink; 
    color: white;
}